body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6                                                                                    ;
}
h1 {
    color: hsl(202, 68%, 62%);
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}
h2 {
    color: hsl(202, 68%, 62%);
    margin-top: 20px;
    font-size: 2em;
}
h3 {
    color: hsl(0, 59%, 58%);
    margin-top: 15px;
    font-size: 1.5em;
}
p {
    max-width: 800px;
    margin: 10px auto;
    padding: 0% 20px;
    font-size: 1.1em;
    text-align: justify;
    max-width: 700px;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border: 3px #5096cb solid;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(224, 172, 132, 0.1);
}
ul {
    list-style-type: square;
    padding-left: 30px;
    margin: 10px auto;
    width: 400px;
}
li {
    margin-bottom: 5px;
    font-size: 1.1em;
}
h3 + p {
    color: rgb(12, 85, 240);
    margin: 5px 0 15px 0;
    font-size: 1em;
    text-align: center;
}
h3 + p + p {
    color: rgb(20, 179, 84);
    margin-top: 0;
}